.headding {
    font-size: 60px;
    font-weight: 700;
    margin: 50px;
}

.cost {
    display: block;
    text-align: center;
}

.input-field {
    border: 3px solid gray;
    border-radius: 5px;
}


#input-smaller {
    width: 70px;
}


.error-message {
    display: none;
    color: red;
}

.input-btn {
    text-decoration: none;
    padding: 15px 60px;
    background-color: #59A5FF;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;



}